@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Cinzel Variable', serif;
  color:  rgb(63 63 70);
}

.active::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  left: 0; /* Align it with the left edge of the link */
  bottom: -3px; /* Move it slightly below the link */
  width: 100%; /* Make it span the full width */
  height: 2px; /* Set the height of the underline */
  background-color: rgb(63 63 70); /* Set the color of the underline */
}

.paragrahB {
  margin-top:5px;
}

.hoverOpacity {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.hoverOpacity:hover {
  opacity: 0.75;
}